@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style:none;
    display: inline;
}

a{
    text-decoration: none;
}

.header{
    width: 100vw;
    padding: 32px 0;
}

.navbar{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    white-space: nowrap;
}

.link-wrapper{
    display: inline-block;
    margin-right: 72px;
}

.link-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.link-wrapper:nth-child(3){
    margin-right: 50px;
}

.link-wrapper:last-child{
    margin-right: 0;
}

.image-background{
    width: 100%;
    background-color: grey;
}

.text-section{
    width: 100vw;
    padding: 48px 68px 42px;
    text-align: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-bottom: 38px;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
}

.btn-get-started{
    background: #FF0000;
    border:0;
    border-radius: 4px;
    padding: 18px 43px 17px;
    margin-top: 66px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer{
    margin: 40px auto 29px auto;
    width: 1070px;
    text-align: center;
}

.footer-text{
    width: 462px;
    margin-left: auto;
    margin-right: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    display:flex;
    white-space: nowrap;
}